/*Поле*/

.field {
  width: 320px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

.fieldcell {
  width: 60px;
  height: 60px;
  float: left;
  text-align: center;
  margin: 2px;
  border-radius: 10%;
  padding-top: 22px;
}

.fieldcell-empty {
  background-color: rgba(240, 240, 240, 0.5);
}

.fieldcell-available {
  background-color: #dee3ee;
}

.fieldcell-filled-my {
  background-color: #fae506;
}

.fieldcell-filled-their {
  background-color: #639ce4;
}

.fieldcell-filled-my-new {
  background-color: #fabe06;
}

.fieldcell-filled-their-new {
  background-color: #75c2e5;
}

.fieldcell-can-be-next {
  background-color: chartreuse;
}

/*Выборка букв*/

.cellletter {
  font-size: 32pt;
}

.letterselector {
  display: block;
  width: 240px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.ls-one {
  width: 55px;
  height: 55px;
  float: left;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10%;
  margin: 2px;
  text-align: center;
}

.ls-letter {
  font-size: 24pt;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 55px;
}

.ls-one:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

/*Фон*/

.bg {
  background-image:url(../img/bg.jpg);
  background-repeat:repeat;
}

/*Error*/

.error {
  color: red;
}

label.error {
  border-bottom: 2px solid red;
}

/*User pic*/
img.userpic {
  width: 64px;
  height: 64px;
  float: left;
  border: 2px solid #4499dd;
  border-radius: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

img.userpic-sm {
  width: 44px;
  height: 44px;
  float: left;
  border: 2px solid #4499dd;
  border-radius: 22px;
  vertical-align: middle;
  margin-right: 10px;
}


.profile-header h1 {
  position: relative;
  left: 18px;
  top: 10px;
}

p.user-id {
  left: 18px;
  font-size: 12px;
  position: relative;
}

h1.profileName {
  padding-left: 14px;
}

.selected-item {
  background: #eeeeee !important;
}

.total-players {
  display: block;
  width: 100%;
  color: #777;
  text-align: center;
}

.match-separator {
  width: 32px;
}

.match-separator-my-turn {
  color: #2c2;
}

.match-separator-other-turn {
  color: #080;
}

.match-separator-end-game {
  color: #e11;
}