/*Поле*/

.field {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
}

.fieldcell {
    width: 55px;
    height: 55px;
    float: left;
    text-align: center;
    margin: 2px;
    border-radius: 10%;
    padding-top: 16px;
}

.fieldcell-empty {
    background-color: #f3f5fa;
}

.fieldcell-available {
    background-color: #dee3ee;
}

.fieldcell-filled-my {
    background-color: #fae506;
}

.fieldcell-filled-their {
    background-color: #639ce4;
}

.fieldcell-filled-my-new {
    background-color: #fabe06;
}

.fieldcell-filled-their-new {
    background-color: #75c2e5;
}

/*Выборка букв*/

.cellletter {
    font-size: 32pt;
}

.letterselector {
    display: block;
    width: 240px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.ls-one {
    width: 55px;
    height: 55px;
    float: left;
    background-color: #f3f5fa;
    border-radius: 10%;
    margin: 2px;
    text-align: center;
}

.ls-letter {
    font-size: 24pt;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 55px;
}

/*Фон*/

.bg {
    background-image:url(../img/bg.jpg);
    background-repeat:repeat;
}